body {
    background-color: white;
    font-family: Arial;
}

ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.a li {
    float: left;
    border-right: 1 px solid green;
}

ul.a a {
    display: block;
    padding: 8px;
    background-color: green;
}

ul.a li a {
    display: block;
    color: black;
    padding: 14 px 16 px;
    text-decoration: none;
}

ul.a li a:hover {
    background-color: white;
}

.active {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    float: inherit;
}

p {
    text-align: center;
}

.image {
    text-align: center;
}
