body {
    background-color: white;
    font-family: Arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1 px solid #bbb;
}

a {
    display: block;
    padding: 8px;
    background-color: green;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14 px 16 px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

.active {
    background-color: blueviolet;
}